{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="loader-wrapper py-5"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
	<div class="card card-authentication1 my-3 mx-auto py-3 " style="height: 100%;">
		<div class="card-body">
		 <div class="card-content p-2">
		 	<div class="text-center">
		 		<img src="{% static '/images/logo-icon.png' %}" alt="logo icon">
		 	</div>
		  <div class="card-title text-uppercase text-center py-3">Авторизация</div>
		    <form method="post" id='login' action="{% url 'login' %}">
			  {% csrf_token %}
			  <div class="form-group">
			  <label for="exampleInputUsername" class="sr-only">Username</label>
			   <div class="position-relative has-icon-right">
				  <input name="username" type="text" id="exampleInputUsername" class="form-control input-shadow" placeholder="Введите имя пользователя">
				  <div class="form-control-position">
					  <i class="icon-user"></i>
				  </div>
			   </div>
			  </div>
			  <div class="form-group">
			  <label for="exampleInputPassword" class="sr-only">Password</label>
			   <div class="position-relative has-icon-right">
				  <input name="password" type="password" id="exampleInputPassword" class="form-control input-shadow" placeholder="Введите пароль">
				  <div class="form-control-position">
					  <i class="icon-lock"></i>
				  </div>
			   </div>
			  </div>
			<div class="form-row">
			 <div class="form-group col-6">
			   <div class="icheck-material-white">
                <input type="checkbox" id="user-checkbox" checked="" />
                <label for="user-checkbox">Помни меня</label>
			  </div>
			 </div>
			 <div class="form-group col-6 text-center">
			  <a href="{% url 'reset' %}" class="col-6 align-middle">Сбросить пароль</a>
			 </div>
			</div>
			<button type="submit" class="btn btn-light btn-block">Sign In</button>
			 </form>
		   </div>
		  </div>
		  <div class="card-footer text-center py-3">
		    <p class="text-warning mb-0">Ты еще не заел аккаунт? <a href="{% url 'register' %}"> Зарегистрируйся </a></p>
		  </div>
	     </div>
    
     <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
{%endblock%}