{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="height-100v d-flex align-items-center justify-content-center">
	<div class="card card-authentication1 mb-0">
		<div class="card-body">
		 <div class="card-content p-2">
		  <div class="card-title text-uppercase pb-2">Сброс пароля</div>
		    <p class="pb-2">Введите почту и мы скинем вам ссылку на сброс пароля</p>
		    <form>
			  <div class="form-group">
			  <label for="exampleInputEmailAddress" class="">Мыло</label>
			   <div class="position-relative has-icon-right">
				  <input type="text" id="exampleInputEmailAddress" class="form-control input-shadow" placeholder="Почтарь">
				  <div class="form-control-position">
					  <i class="icon-envelope-open"></i>
				  </div>
			   </div>
			  </div>
			  <button type="button" class="btn btn-light btn-block mt-3">Сброс пароля</button>
			 </form>
		   </div>
		  </div>
		   <div class="card-footer text-center py-3">
		    <p class="text-warning mb-0">Вернемся и попробуем еще раз? <a href="login.html"> Войти </a></p>
		  </div>
	     </div>
	     </div>
{%endblock%}    
